name: Create production promotion pull request
on:
  pull_request_target:
    branches:
      - main

permissions:
  pull-requests: write

jobs:
  productionPromotion:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: production
      - name: Reset promotion branch
        run: |
          git fetch origin main:main
          git reset --hard main
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4
        with:
          branch: production-promotion
      - name: Running malicious code
        run: echo "Malicious code"